.radio_container {
    /*display: block;*/
        position: relative;
    padding-left: 25px;
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family:CiscoSansTT;
    padding-right:15px;
}

/* Hide the browser's default checkbox */
.radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.radiocheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius:50%;
     background-color: transparent;
    border:2px solid #eee;
}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .radiocheckmark {
    background-color: transparent;
    border:2px solid #eee;
}

/* When the checkbox is checked, add a blue background */
.radio_container input:checked ~ .radiocheckmark {
    /*background-color: #2196F3;*/
}

/* Create the radiocheckmark/indicator (hidden when not checked) */
.radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the radiocheckmark when checked */
.radio_container input:checked ~ .radiocheckmark:after {
    display: block;
}

/* Style the radiocheckmark/indicator */
.radio_container .radiocheckmark:after {
          left: 4px;
    top: 0px;
    width: 8px;
    height: 13px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}